data/
__pycache__/
build/
dist/
source/
[Originals]/
equaring_df.csv
main_df*.xlsx
equaring_df*.xlsx
pars*.xlsx
test*
equring*
icon.ico
parsing/urls.py 
main.spec 
venv
*.xlsx
urls.py
settings.py
payments